<div class="contenedor-sobreMi">
  <section id="sobreMi" class="text-sobreMi">
    <div>
      <div class="sobreMi">
        <h1>Sobre Mí</h1>
        <p>
          Soy Cristian Villalobos, desarrollador web autodidacta con pasión por
          la tecnología, el aprendizaje constante y la creación de sitios
          modernos, rápidos y accesibles. Trabajo con tecnologías como HTML,
          CSS, JavaScript, Astro y Tailwind, y actualmente estudio para ser
          Analista Programador, mientras aprendo herramientas como React y
          TypeScript. Mi objetivo es seguir creciendo como desarrollador y
          aportar con soluciones útiles y bien construidas.
        </p>
      </div>
      <div class="img-sobreMi">
        <img src="/html5.svg" alt="" />
        <img src="/css_old.svg" alt="" />
        <img src="/javascript.svg" alt="" />
        <img src="/astro.svg" alt="" />
      </div>
    </div>
  </section>
</div>

<style>
  .contenedor-sobreMi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Mejora la responsividad */
    height: 100vh;
  }

  .text-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sobreMi {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;

    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
      margin-top: 20rem;
    }
  }

  .img-sobreMi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 4rem 0; /* Reducimos margen */
  }

  h1 {
    font-size: 3rem;
    color: #eef0e4;
    text-transform: uppercase;
  }

  p {
    font-size: 1.6rem;
    color: #eef0e4;
    line-height: 1.8; /* Mejora legibilidad */

    @media (max-width: 768px) {
      font-size: 1.2rem; /* Ajustamos el tamaño del texto en pantallas pequeñas */
    }
  }

  img {
    margin: 0 20px;
    width: 4rem;
    filter: contrast(0.9) brightness(0.9);
    transition:
      transform 0.4s ease-in-out,
      filter 0.4s ease-in-out;
  }

  img:hover {
    transform: scale(1.15);
    filter: contrast(1) brightness(1);
  }

  /* Diseño responsivo */
  @media (max-width: 768px) {
    .contenedor-sobreMi {
      flex-direction: column;
      text-align: center;
    }

    .img-sobreMi img {
      width: 3rem;
    }
  }
</style>
