<div class="contenedor-sobreMi">
  <section id="sobreMi" class="text-sobreMi">
    <div>
      <div class="sobreMi">
        <h1>Sobre Mí</h1>
        <p>
          Soy Cristian Villalobos, desarrollador web autodidacta con pasión por
          la tecnología, el aprendizaje constante y la creación de sitios
          modernos, rápidos y accesibles. Trabajo con tecnologías como HTML,
          CSS, JavaScript, Astro y Tailwind, y actualmente estudio para ser
          Analista Programador, mientras aprendo herramientas como React y
          TypeScript. Mi objetivo es seguir creciendo como desarrollador y
          aportar con soluciones útiles y bien construidas.
        </p>
      </div>
      <div class="img-sobreMi">
        <img src="../../public/html5.svg" alt="" />
        <img src="../../public/css_old.svg" alt="" />
        <img src="../../public/javascript.svg" alt="" />
        <img src="../../public/astro.svg" alt="" />
      </div>
    </div>
  </section>
</div>

<style>
  .contenedor-sobreMi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    height: 100vh;
  }
  .text-sobreMi {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .sobreMi {
    max-width: 800px;
    margin: 0 auto;
  }

  .img-sobreMi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
  }

  h1 {
    font-size: 3rem;
    color: #eef0e4;
  }
  p {
    font-size: 1rem;
    color: #eef0e4;
  }

  img {
    width: 4rem;
    margin: 1rem 2rem;
    filter: contrast(0.9) brightness(0.9);
    transition: 0.3s;
  }

  img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    filter: contrast(1) brightness(1);
  }
</style>
