---

---

<header>
	<a href="/">
		<img src="/public/Logo.png" alt="Logo" class="logo" />
	</a>
	<nav>
		<ul class="navbar">
			<li><a href="/">Inicio</a></li>
			<li><a href="/sobremi">Sobre mi</a></li>
			<li><a href="/proyectos">Proyectos</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>
</header>


<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #12243B;	
		margin: 0 100px;
	}
	.logo {
		width: 200px;
		height: auto;
		margin-left: 20px;
		cursor: pointer;
	}
	.navbar {
		display: flex;
		flex-direction: row;
		list-style: none;
	}
	a{
		color: ghostwhite;
		text-decoration: none;
		margin: 0 18px;
	}
	
</style>