<div class="header">
  <header>
    <a href="/">
      <img src="/Villa_dev_MrRobot_Logo.png" alt="Logo" class="logo" />
    </a>
    <nav>
      <ul class="navbar">
        <li><a href="/">Inicio</a></li>
        <li><a href="#sobreMi">Sobre mi</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="/Blog">Blog</a></li>
      </ul>
    </nav>
  </header>
</div>

<style>
  .header {
    display: flex;
    align-content: center;
    justify-content: space-around;
    font-size: 1.2rem;
  }
  header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100rem;
    max-width: fit-content;
    border-radius: 6px;
    margin-top: 20px;
    padding: 4px 20px;
  }
  .logo {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
  .logo:hover {
    transform: scale(1.08);
    transition: ease-in-out 0.2s;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  a {
    color: ghostwhite;
    text-decoration: none;
    margin: 0 18px;
  }
  a:hover {
    color: #ffb800;
    transition: ease-in-out 0.1s;
  }
</style>

  