<div class="header">
  <header>
    <a href="/">
      <img src="/public/Logo.png" alt="Logo" class="logo" />
    </a>
    <nav>
      <ul class="navbar">
        <li><a href="/">Inicio</a></li>
        <li><a href="#sobreMi">Sobre mi</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>
</div>

<style>
  .header {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000062;
    max-width: fit-content;
    border-radius: 12px;
    margin-top: 10px;
    padding: 4px 20px;
  }
  .logo {
    width: 200px;
    height: auto;
    margin: 0 30px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
  .logo:hover {
    transform: scale(1.02);
    transition: ease-in-out 0.1s;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  a {
    color: ghostwhite;
    text-decoration: none;
    margin: 0 18px;
  }
  a:hover {
    color: #ffb800;
    transition: ease-in-out 0.1s;
  }
</style>
