<header>
  <a href="/">
    <img src="/Villa_dev_MrRobot_Logo.png" alt="Logo" class="logo" />
  </a>
  <nav>
    <ul class="navbar">
      <li><a href="/">Inicio</a></li>
      <li><a href="#sobreMi">Sobre mi</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#contacto">Contacto</a></li>
      <li><a href="/Blog">Blog</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    z-index: 1000;
  }
  .logo {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
  .logo:hover {
    transform: scale(1.08);
    transition: ease-in-out 0.2s;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  a {
    color: ghostwhite;
    text-decoration: none;
    margin: 0 18px;
  }
  a:hover {
    color: #ffb800;
    transition: ease-in-out 0.1s;
  }

  nav {
    @media (max-width: 768px) {
      display: none;
    }
  }
</style>
