<section id="proyectos">
  <h1>PROYECTOS</h1>
  <div class="proyecto">
    <h2>Proyecto 1</h2>
    <a href="www.google.com">
      <img src="\ProyectoYali.webp" alt="Proyecto 1" />
    </a>
    <h3>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum ad
      veritatis non esse placeat voluptatibus. Sunt?
    </h3>
  </div>

  <div class="proyecto">
    <h2>Proyecto 2</h2>
    <a href="www.google.com">
      <img src="\ProyectoYali.webp" alt="Proyecto 1" />
    </a>
    <h3>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum ad
      veritatis non esse placeat voluptatibus. Sunt?
    </h3>
  </div>

  <div class="proyecto">
    <h2>Proyecto 4</h2>
    <a href="www.google.com">
      <img src="\ProyectoYali.webp" alt="Proyecto 1" />
    </a>
    <h3>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum ad
      veritatis non esse placeat voluptatibus. Sunt?
    </h3>
  </div>

  <style>
    #proyectos {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 2rem;
      height: 100vh;
    }

    .proyecto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      background-color: #00000052;
      border-radius: 8px;
      padding: 16px;
      max-width: 340px; /* Evita proyectos demasiado grandes */
      transition: transform 0.4s ease-in-out;
    }

    .proyecto:hover {
      transform: scale(1.1);
      background-color: rgba(255, 255, 255, 0.2);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      transition: transform 0.3s ease-in-out;
    }

    img:hover {
      transform: scale(1.05);
    }

    h1 {
      color: white;
      text-align: center;
      font-size: 3rem;
      margin: 0 100px 0 0;

      @media (max-width: 768px) {
        margin: 0 10rem;
      }
    }

    h2 {
      color: white;
      font-size: 1.8rem;
    }

    h3 {
      color: white;
      text-align: left;
      font-size: 1.1rem;
      font-weight: 400;
      max-width: 300px;
      line-height: 1.4; /* Mejora legibilidad */
    }

    a {
      text-decoration: none;
    }

    /* Diseño responsivo */
    @media (max-width: 768px) {
      #proyectos {
        flex-direction: column;
        align-items: center;
      }

      .proyecto {
        max-width: 90%;
      }
    }

    section {
      @media (max-width: 768px) {
        margin-top: 40rem;
      }
    }
  </style>
</section>
