<section>

    <h1>Mis Proyectos</h1>
    <div>
        <div class="proyectos">
            <div>
                <div>
                    <img src="" alt="">
                    
                </div>
                <h2>Proyecto 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla itaque neque natus provident, temporibus delectus esse nobis! Eum, omnis ad.</p>
                
            </div>
        </div>
</section>